.wrapper {
    width: 1000px;
    margin: auto;
    background-color: rgba(0,0,0,.55);
    padding: 30px 10px 100px 10px;
    margin-top: 150px;
    border-radius: 15px;
    .first_screen {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        p {
            margin-bottom: 30px;
        }
        .title {
            font-family: 'Baloo 2';
            font-size: 55px;
            color: #ebebf5;
            width: 100%;
            padding-bottom: 5px;
        }
        .left, .right {
            width: 50%;
            font-size: 22px;
            font-family:'Lato';
            color: white;
            img {
                width: 100%;
            }
            .leaves {
                img {
                    position: relative;
                    left: 25%;
                    width: 75%;
                }
            }
        }
    }
    .second_screen {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        p {
            margin-bottom: 30px;
        }
        .title {
            font-family: 'Baloo 2';
            font-size: 55px;
            color: #ebebf5;
            width: 100%;
            text-align: center;
            padding-bottom: 20px;
        }

        .left, .right {
            width: 50%;
            font-size: 22px;
            font-family: 'Lato';
            color: white;

            img {
                width: 100%;
            }
        }
    }
    .third_screen {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        p {
            margin-bottom: 30px;
        }
        .title {
            font-family: 'Baloo 2';
            font-size: 35px;
            color: #ebebf5;
            width: 100%;
            text-align: center;
            padding-bottom: 20px;
        }
        .organisation {
            display: inline-grid;
            grid-template-columns: 20% auto;
            column-gap: 3%;
            row-gap: 2.5%;
            .left, .right {
                font-size: 22px;
                font-family: 'Lato';
                color: white;
                p {
                    padding-top: 2%;
                    padding-bottom: 2%;
                }
                
                img {
                    width: 100%;
                } 
            }
        }
    }
    .fourth_screen {
        margin-top: 8%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        p {
            margin-bottom: 30px;
        }
        .title {
            font-family: 'Baloo 2';
            font-size: 55px;
            color: #ebebf5;
            width: 100%;
            text-align: center;
            padding-bottom: 20px;
        }
        .left, .right, .center {
            width: 33.3%;
            font-size: 22px;
            font-family: 'Lato';
            color: white;
            img {
                width: 65%;
            }
        }
    }
}

    .logo {
        right: 0;
        left: 0;
        top: 10px;
        margin: 0 auto;
        position: absolute;
        background-image: url("../../resources/logo_calminder.png");
        background-position: center;
        background-size: 150px;
        background-repeat: no-repeat;
        z-index: 100;
        width: 150px;
        height: 150px;
    }
    .amielogo {
        top: -45px;
        left:-20px;
        
      
        position: fixed;
        background-image: url("../../resources/logo_amie.png");
        background-position: center;
        background-size: 200px;
        background-repeat: no-repeat;
        
        z-index: 100 !important;
        width: 250px;
        height: 150px;
        overflow: hidden;
    }




    .teams {
        margin: 0 auto;
        text-align: center;
        font-family: 'Baloo 2';
        color:white;
        margin-bottom: 200px;
        margin-top: 50px;
        width: 70%;
        font-size: 22px;
    }
    .teams p{
        
        font-family: 'Lato';
        
    }
    .teams h1{
        font-size: 30px;
        text-decoration: underline;
    }