.wrapper {
    width: 1000px;
    margin: auto;
    background-color: rgba(0,0,0,.55);
    padding: 30px 10px 100px 10px;
    margin-top: 150px;
    border-radius: 15px;
    .first_screen {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        p {
            margin-bottom: 30px;
        }
        .title {
            font-family: 'Baloo 2';
            font-size: 55px;
            color: #ebebf5;
            width: 100%;
            padding-bottom: 20px;
        }
        .left, .right {
            width: 50%;
            font-size: 22px;
            font-family:'Lato';
            color: white;
            img {
                width: 100%;
            }
        }
    }
    .second_screen {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        p {
            margin-bottom: 30px;
        }
        .title {
            font-family: 'Baloo 2';
            font-size: 55px;
            color: #ebebf5;
            width: 100%;
            text-align: right;
            padding-bottom: 20px;
        }

        .left, .right {
            width: 50%;
            font-size: 22px;
            font-family: 'Lato';
            color: white;

            img {
                width: 100%;
            }
        }
    }
    .three_screen {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        p {
            margin-bottom: 30px;
        }
        .title {
            font-family: 'Baloo 2';
            font-size: 55px;
            color: #ebebf5;
            width: 100%;
            text-align: center;
            padding-bottom: 20px;
        }
        .left, .right, .center {
            width: 33.3%;
            font-size: 22px;
            font-family: 'Lato';
            color: white;
            img {
                width: 65%;
            }
        }
    }
    }

    .logo {
        right: 0;
        left: 0;
        top: 10px;
        margin: 0 auto;
        position: absolute;
        background-image: url("../../resources/logo_calminder.png");
        background-position: center;
        background-size: 150px;
        background-repeat: no-repeat;
        z-index: 100;
        width: 150px;
        height: 150px;
    }
    .amielogo {
        top: -45px;
        left:-20px;
        
      
        position: fixed;
        background-image: url("../../resources/logo_amie.png");
        background-position: center;
        background-size: 200px;
        background-repeat: no-repeat;
        
        z-index: 100 !important;
        width: 250px;
        height: 150px;
        overflow: hidden;
    }