header {
    width: 100vw;
    margin: auto;
}
.logo {
    right: 0;
    left: 0;
    top: 0.3vmin;
    margin: 0 auto;
    position: absolute;
    background-image: url("../resources/logo_calminder.png");
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    z-index: 11;
    width: 22vmax;
    height: 10vmax;
}

.amielogo {
    top: 0.5vmax;
    left: 13vw;
    position: absolute;
    background-image: url("../resources/logo_amie.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 100 !important;
    width: 35vmin;
    height: 10vmax;
    overflow: hidden;
}

.social_media_links_first {
    top: 12vmax;
    left: 2vmin;
    position: absolute;
    display: flex;
    gap: 1vmin;
}

.social_media_links_first .youtube {
    width: 12vmin;
    height: 7vmin;
    background-image: url("../resources/youtube_logo.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.social_media_links_first .instagram {
    width: 12vmin;
    height: 7vmin;
    background-image: url("../resources/instagram_logo.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.erasmuslogo {
    top: 0.5vmax;
    right: 6vw;
    position: absolute;
    background-image: url("../resources/logo_erasmus.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 110 !important;
    width: 35vmin;
    height: 8vmax;
    overflow: hidden;
}

.social_media_links_last {
    top: 12vmax;
    right: 4vmin;
    position: absolute;
    display: flex;
    gap: 1vmin;
}

.social_media_links_last .facebook {
    width: 12vmin;
    height: 7vmin;
    background-image: url("../resources/facebook_logo.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.social_media_links_last .website {
    width: 12vmin;
    height: 7vmin;
    background-image: url("../resources/website_logo.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}