.wrapper {
    position: absolute;
    display: flex;
    top: 50px;
    width: 100%;
    height: 200%;
}
.overflowbackground{
    margin: 0 auto;
  /*  background-color: rgba(143, 19, 19, 0.4); */
    height: 100%;
    width: 100%;
    margin-top: 15%;
    overflow: auto;
    font-family: 'Lato';
}

.wrapper .overflowbackground .overflow {
    height: 70%;
    width: 100%;
    overflow: auto;
    margin: auto;
    padding: 0 15%;
    margin-top: 0.5%;
    /* background-color: rgba(245, 90, 0, 0.805); */
}
.wrapper .overflowbackground .overflow .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    z-index: 15;
}

.wrapper .overflowBackground .overflow .listRotate {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    width: 200px;
    margin: auto;
    padding-top: 100px;
    position: relative;
}

.wrapper .overflowbackground .textSection {
    position: relative;
    display: block;
    color: rgb(255,255,255);
    width: auto;
    height: auto;
    text-align: center;
    font-size: 20px;
    background-color: rgba(13, 81, 241, 0.735);
    border-radius: 20px;
    margin: 1%;
    margin-bottom: 0.5%;
    margin-left: 15%;
    margin-right: 15%;
    padding: 5px;
}

.wrapper .overflowbackground .btnChoices {
 /*   background-color: #ff0707;  Green 
    border-style: solid;
    border-width: 2px; */
   /* border-color: rgb(2, 3, 8); */
    color: white;
    padding: 0.5% 15%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    gap: 10% 1%;
    width: 100%;
    font-size: 32px;
}
.wrapper .overflowbackground .btnChoices .ButtonAll {
    grid-area: 1 / 1 / span 1 / span 5;
    text-align: center;
    background-color: rgba(13, 81, 241, 0.735);
    padding: 2%;
    border-radius: 15px;
    cursor: pointer;
}
.wrapper .overflowbackground .btnChoices .ButtonAll:hover {
    background-color: rgb(13, 64, 185);
}
.wrapper .overflowbackground .btnChoices .button {
    border-width: 1px;
    border-color: rgb(2, 3, 8);
    background-color: rgba(13, 81, 241, 0.735);
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
}
.wrapper .overflowbackground .btnChoices .button:hover {
    background-color: rgb(13, 64, 185);
}

.wrapper .controls {
    position: absolute;
    right: 30px;
    bottom: 160px;
    z-index: 9999999;
    display: flex;
    justify-content: space-between;
}

.wrapper .controls img {
    cursor: pointer;
    width: 90px;
}

.wrapper .listSimple {
    width: 700px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}


.wrapper .listSimple .item {
    width: 150px;
    background-color: gray;
    height: 200px;
    margin-bottom: 20px;
}

.wrapper .list .column {
    display: flex;
    flex-direction: column;
}

.wrapper .listSimple .itemSmall {
    width: 300px;
    height: 420px;
    background-color: gray;
}