
.wrapper {
    position: absolute;
    top: 5%;
    width: 100%;
    height: 200%;
}
.wrapper .overflowbackground{
    margin: 0 auto;
    height: 100%;
    width: 100%;
    margin-top: 10%;
    overflow: auto;
    font-family: 'Lato';
    display: block;
}

.wrapper .overflowbackground .overflow {
    height: 70%;
    width: 100%;
    overflow: auto;
    margin: auto;
    padding: 0 15%;
    margin-top: 0%;
}
.wrapper .overflowbackground .overflow .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    z-index: 15;
}


.wrapper .overflowbackground .textSection {
    position: relative;
    display: block;
    color: rgb(255,255,255);
    width: auto;
    height: auto;
    text-align: center;
    font-size: 20px;
    background-color: rgba(13, 81, 241, 0.735);
    border-radius: 20px;
    margin: 1%;
    margin-bottom: 0.5%;
    margin-left: 15%;
    margin-right: 15%;
    padding: 5px;
}

.wrapper .overflowbackground .btnChoices {
    color: white;
    padding: 0% 15%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    gap: 12% 1%;
    margin-bottom: 2%;
    width: 100%;
    font-size: 32px;
}
.wrapper .overflowbackground .btnChoices .ButtonAll {
    grid-area: 1 / 1 / span 1 / span 5;
    text-align: center;
    background-color: rgba(13, 81, 241, 0.735);
    padding: 2%;
    border-radius: 15px;
    cursor: pointer;
}
.wrapper .overflowbackground .btnChoices .ButtonAll:hover {
    background-color: rgb(13, 64, 185);
}
.wrapper .overflowbackground .btnChoices .button {
    border-width: 1px;
    border-color: rgb(2, 3, 8);
    background-color: rgba(13, 81, 241, 0.735);
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
}
.wrapper .overflowbackground .btnChoices .button:hover {
    background-color: rgb(13, 64, 185);
}
.wrapper .overflowbackground .searchBars {
    padding: 0.5% 15%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 5%;
}
.wrapper .overflowbackground .searchBars .searchForTitle  {
    padding: 2% 1%;
    display: inline-grid;
    grid-template-columns: auto auto;
 }
.wrapper .overflowbackground .searchBars .searchForTitle input {
   padding: 2% 1.5%;
   height: 70%;
   font-size: 20px;
   width: auto;
   border: 2px solid rgba(17, 103, 233, 0.371);
}
.wrapper .overflowbackground .searchBars .searchForTitle img {
    height: 70%;
    cursor: pointer;
 }
