<mat-toolbar>
    <span>{{this.svc.musicTrackForm.controls['$key'].value?"Update music track":"New music track"}}</span>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1">
        <mat-icon>clear</mat-icon>
    </button>
</mat-toolbar>
<form [formGroup]="this.svc.musicTrackForm" class="normal-form" (submit)="onSubmit()">
    <mat-grid-list cols='1' rowHeight='400px' class="g1">
        <mat-grid-tile>
            <div class="controles-container">
                <input type="hidden" formControlName='$key'>
                <mat-form-field>
                    <input formControlName='title' matInput placeholder="Title">
                </mat-form-field>

                <mat-form-field>
                    <input  formControlName='link' matInput placeholder="Link to the music track">
                </mat-form-field>

                <div class='button-row'>
                    <button mat-raised-button color='primary' type='submit'
                        [disabled]="this.svc.musicTrackForm.invalid">
                        Submit
                    </button>
                </div>


            </div>
        </mat-grid-tile>

    </mat-grid-list>
</form>