.myform-wrapper {
    margin: 50px;
    width: 700px;

    .mat-form-field {
        width: 100%;
    }

    .mat-toolbar-single-row {
        height: auto !important;
        background: transparent;

        button {
            width: 40%;
        }
    }
}
.control-container {
    width: 100%;
    padding: 5%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.control-container > * {
    width:  100%;
}

.controle-container-image {
    min-width: 100%;
    margin-top: 25px;
 
}

.controle-container-image > * {
    width: 100%;
}
.example-container{
    width:120px !important;
 }
 .example-container2{
    width:120px !important;
    margin-left: 10px;
 }
 .inline{
    display:inline-block;
    width:100%;
  }

#fileUpload {
    position: absolute;
    z-index: 9;
    opacity: 0;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    cursor: pointer;
}
.text-row{
    width: 100%;
}