

.container {
    background-color:rgba(0, 0, 0,0.55);
    width: 228px;
    padding: 32px 22px;
    box-sizing: border-box;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: fixed;
    z-index: 9;
    top: 116px;
    left: 244px;
    font-family: 'lato';
}

nav {
    height:66px;
    box-sizing: border-box;
    display:flex;
    align-items: center;
    border-bottom: 2px solid white;
    padding:0px 0px 32px 0px;
}

.burgerbtn, .burgerbtnWhite {
    width: 30px;
    height: 20px;
    position: fixed;
    cursor: pointer;
    border-radius: 2px;
}

.burgerbtn::before, .burgerbtnWhite::before {
    content: '';
    position:absolute;
    top:0;
    width: 30px;
    background-color: blue;
    height: 4px;
    border-radius: 2px;
}

.burgerbtnWhite::before {
    background-color: white;
}

.burgerbtn span, .burgerbtnWhite span {
    content: '';
    position:absolute;
    top:8px;
    width: 30px;
    background-color: blue;
    height: 4px;
    border-radius: 2px;
}

.burgerbtnWhite span {
    background-color: white;
}

.burgerbtn::after .burgerbtnWhite::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 30px;
    background-color: blue;
    height: 4px;
    border-radius: 2px;
}

.burgerbtnWhite::after {
    background-color: white;

}

.menu {
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    padding: 0px;

}

ul .menuli a {
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.menuli {
    box-sizing: border-box;
    margin-top: 56px;
}


.closeIcon {
    position:absolute;
    right:10px;
    top:10px;
    color:white;
    cursor:pointer;
}

.nothing {
    display: none;
}

.burgerWrapper .burgerbtn {
    position: fixed;
    top: 154px;
    left: 266px;
    z-index: 9;
}