
.burgerWrapper {
    position: fixed;
    top: 25vmin;
    left: 2vmin;
    z-index: 9;
    display: grid;
    grid-template-columns: auto;
}
.burgerWrapper .burgerbtnClose {
    box-sizing: border-box;
    width: 6vmin;
    display: flex;
    padding: 0.5vmin 0.2vmin;
    flex-direction: column;
    row-gap: 1vmin;
}
.burgerWrapper .burgerbtnClose .line_blue {
    height: 1vmin;
    background-color: #000fb0;
    border-radius: 20px;
}
/*       */
.burgerWrapper .container {
    background-color:rgba(0, 0, 0, 0.717);
    box-sizing: border-box;
    /* width: 228px; */
    padding: 2vmin 2vmin;
    display: grid;
    grid-template-columns: 15vmin;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-family: 'lato';
}
/*          i am here now     */
.burgerWrapper .container .burgerbtnWhite {
    box-sizing: border-box;
    display: flex;
    padding: 0.5vmin 2.4vmin;
    padding-bottom: 1vmin;
    flex-direction: column;
    row-gap: 1vmin;
}
.burgerWrapper .container .burgerbtnWhite .line {
    height: 1vmin;
    background-color: #ffffff;
    border-radius: 15px;
}
/* i am here now */
.burgerWrapper .container .line_divider {
    height: 0.5vmin;
    background-color: #ffffff;
}
.burgerWrapper .container .menu_content ul {
    list-style-type: none;
    padding: 0px;
}
.burgerWrapper .container .menu_content ul .menuli {
    box-sizing: border-box;
    margin-top: 4vmin;
}

.burgerWrapper .container .menu_content ul .menuli a {
    font-size: 4vmin;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

