<mat-toolbar>
    <span>{{svc.formLocation.controls['id'].value?"Aanpassen locatie":"Nieuwe locatie"}}</span>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1">
        <mat-icon>clear</mat-icon>
    </button>
</mat-toolbar>
<form [formGroup]="svc.formLocation" class="normal-form" (submit)="onSubmit()">
    <mat-grid-list cols='2' rowHeight='500px'>
        <mat-grid-tile>
            <div class="controles-container">
                <input type="hidden" formControlName='id'>
                <mat-form-field>
                    <input formControlName='city' matInput placeholder="City">
                </mat-form-field>
                <mat-form-field>
                    <input formControlName='street' matInput placeholder="Street">
                </mat-form-field>

                <mat-form-field>
                    <input formControlName='number' matInput placeholder="House Number">
                </mat-form-field>


            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="controles-container">




                <div formGroupName="coordinate">
                    <mat-form-field class="add-top-padding">
                        <input type='number' formControlName='latitude' matInput placeholder="Latitude">
                    </mat-form-field>

                    <mat-form-field class="add-top-padding">
                        <input type='number' formControlName='longitude' matInput placeholder="Longitude">
                    </mat-form-field>
                </div>

                <div class='button-row'>
                    <button mat-raised-button color='warn' type='submit'
                        [disabled]="svc.formLocation.invalid">Submit</button>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>


</form>