.wrapper {
  width: 95%;
  height: 200%;
  margin: auto;
  background-color: rgba(11, 114, 170, 0.448);
  padding: 3% 2% 10% 2%;
  margin-top: 15%;
  border-radius: 20px;
  .first_screen {
    width: 100%;
    height: 100%;
    display: block;
    font-family: "Lato";
    .title {
      font-family: "Baloo 2";
      //sfdsdfsdfs
      font-size: 55px;
      color: #ffffff;
      //background-color: rgb(252, 186, 3);
      width: 100%;
      padding-bottom: 3%;
      text-align: center;
    }
    .main {
      width: 100%;
      font-size: 40px;
      color: rgb(255, 255, 255);
      background-color: #a05d8c00;
      margin: 1.5% 1%;
      h1 {
        margin-top: 2%;
        margin-bottom: 1.5%;
      }
      p {
        font-size: 25px;
        margin-bottom: 3%;
      }
      ol {
        padding: 25px;
      }
    }
    .musicTracksLayout {
      width: 100%;
      font-size: 135%;
      .musicTracks {
        display: flex;
        flex-direction: column;
        row-gap: 45px;
        margin-left: auto;
        margin-right: auto;
        color: #ffffff;
        width: 100%;
        .musicTrack {
          display: grid;
          grid-template-rows: 50px auto;
          gap: 15px;
          .trackTitle {
            font-size: 75px;
          }
          .trackPlayer {
            padding: 40px;
            width: 70%;
          }
        }
      }
    }
  }
}

.logo {
  right: 0;
  left: 0;
  top: 10px;
  margin: 0 auto;
  position: absolute;
  background-image: url("../../resources/logo_calminder.png");
  background-position: center;
  background-size: 150px;
  background-repeat: no-repeat;
  z-index: 100;
  width: 150px;
  height: 150px;
}
.amielogo {
  top: -45px;
  left: -20px;

  position: fixed;
  background-image: url("../../resources/logo_amie.png");
  background-position: center;
  background-size: 200px;
  background-repeat: no-repeat;

  z-index: 100 !important;
  width: 250px;
  height: 150px;
  overflow: hidden;
}

.teams {
  margin: 0 auto;
  text-align: center;
  font-family: "Baloo 2";
  color: white;
  margin-bottom: 200px;
  margin-top: 50px;
  width: 70%;
  font-size: 22px;
}
.teams p {
  font-family: "Lato";
}
